<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        <li class="blocks-item">
          {{#link 'new_request_page' class='submit-a-request button-large'}}
          Nova Nota
          {{else}}
          Autentique-se como Usuário Final para enviar Notas
          {{/link}}
        </li>
        <li class="blocks-item">
          <h4 class="blocks-item-title">
            <a href="https://nfpetrorio.zendesk.com/hc/pt-br/articles/360023998512-Como-solicitar-notas-fiscais?">Como
              solicitar uma nota fiscal</a>
          </h4>
        </li>
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section>

  <section class="section activity">
    {{#if settings.show_recent_activity}}
    {{recent_activity}}
    {{/if}}
  </section>
</div>