<head>
  <script type="text/javascript" src="./script.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_pt_PT.min.js"></script>
</head>

<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1>
    {{t 'submit_a_request'}}
    {{#if follow_up}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
    {{/if}}
  </h1>

  <div class="form">

    <form id="custom_form">

      <div class="form-field string  required  request_custom_fields_360016361311 two-thirds">
        <label for="form-field string  required  request_custom_fields_360016361311">
          Data da movimentação
        </label>
        <input type="text" class="datepicker" value aria-label="Use as setas para escolher uma data"
          style="display: none;">
        <input type="text" class="date" id="request-data" data-datepicker required minlength="6">
      </div>

      <div class="form-field string  required two-thirds" id="request-origem">
        <label for="request_custom_fields_360016303952">
          Origem do material
        </label>
        <select id="request-origem-opcoes" onchange="escondeDiv(document.getElementById('request-origem-opcoes')) "
          class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <div class="form-field string  required  request_custom_fields_360016304052 two-thirds" id="request-finalidade0">
        <label for="request_custom_fields_360016304052">
          Finalidade da movimentação
        </label>
        <select id="request-finalidade0-opcoes" class="nesty-input" tabindex="0">
          <option></option>
        </select>
      </div>

      <div class="form-field string required request-finalidade-proprio two-thirds" id="request-finalidade-proprio">
        <label for="request_custom_fields_360016305772">
          Finalidade da movimentação
        </label>
        <select id="request-finalidade-proprio-opcoes" tabindex="0" required>
        </select>
      </div>

      <div class="form-field string required request-finalidade-terceiro two-thirds" id="request-finalidade-terceiro">
        <label for="request_custom_fields_360016305792">
          Finalidade da movimentação
        </label>
        <select id="request-finalidade-terceiro-opcoes" class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <div class="form-field string required request-posicao-estoque two-thirds" id="request-posicao-estoque">
        <label for="request_custom_fields_360016898852">
          Posição de estoque
        </label>
        <select id="request-posicao-estoque" class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <h3>Filial - Emissor de NF</h3>

      <div class="form-field string  required two-thirds" id="request-filial">
        <label for="request_custom_fields_360016304072">
          Filial de origem
        </label>
        <select id="request_filial_opcoes" class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <h3>Destinatário</h3>

      <div class="form-field string  required  request_custom_fields_360016356691 two-thirds">
        <label for="request_custom_fields_360016356691">
          Código Fornecedor Protheus
        </label>
        <input type="text" id="request_codforn_protheus" class="protheus" required minlength="6"/>
      </div>

      <h3>Transportador / Volumes transportados</h3>

      <div class="form-field string  required  request_custom_fields_360016304092 fluid two-thirds"
        id="request-responsabilidade">
        <label for="request_custom_fields_360016304092">
          Responsabilidade do frete
        </label>
        <select id="request_responsabilidade_opcoes" class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <div class="form-field string  required  request_custom_fields_360016304132 fluid third"
        id="request_codtrans_protheus">
        <label for="request_custom_fields_360016304132">
          Código Transportador Protheus
        </label>
        <select id="request_codtrans_protheus_options" class="nesty-input" tabindex="0" required>
        </select>
      </div>

      <div class="form-field string  required  request_custom_fields_360016356891 fluid third">
        <label for="request_custom_fields_360016356891">
          Placa
        </label>
        <input type="text" id="request_placa" placeholder="se não souber, digite 0" required minlength="1"/>
      </div>

      <div class="form-field decimal  required  request_custom_fields_360016356931 fluid third">
        <label for="request_custom_fields_360016356931">
          Quantidade/volume
        </label>
        <input type="text" id="request_qtdvol" required minlength="1"/>
      </div>

      <div class="form-field decimal  required  request_custom_fields_360016356951 fluid third">
        <label for="request_custom_fields_360016356951">
          Espécie
        </label>
        <input type="text" id="request_especie" placeholder="" required minlength="3"/>
      </div>

      <div class="form-field decimal  required  request_custom_fields_360016304152 fluid half">
        <label for="request_custom_fields_360016304152">
          Peso bruto
        </label>
        <input type="text" id="request_pbruto" placeholder="em kg" required minlength="4"/>
      </div>

      <div class="form-field decimal  required  request_custom_fields_360016304172 fluid half">
        <label for="request_custom_fields_360016304172">
          Peso líquido
        </label>
        <input type="text" id="request_pliquido" placeholder="em kg" required minlength="4"/>
      </div>

      <h3>Relação de materiais</h3>
      <div class="form-field text  required  request_custom_fields_360016356971">
        <table id="materiais">
          <tr>
            <th>Código do Produto (Protheus)</th>
            <th>Quantidade</th>
            <th>Valor Unitário</th>
            <th>Valor Total</th>
            <th>Nota Fiscal de Origem</th>
            <th></th>
          </tr>
          <tr class="material">
            <td>
              <input type="text" class="codigo protheus" required minlength="6">
            </td>
            <td>
              <input type="text" class="qtd" required minlength="1">
            </td>
            <td>
              <input type="text" class="valor money" required minlength="3">
            </td>
            <td>
              <input type="text" class="total money" readonly required minlength="3">
            </td>
            <td>
              <input type="text" class="nota" required minlength="1">
            </td>
            <td>
              <img class='remove clickable' src='https://image.flaticon.com/icons/png/512/60/60578.png' onClick='removeRow()'>
            </td>
          </tr>
        </table>
        <div class="buttons">
          <img id="add" class="clickable" src="https://image.freepik.com/free-icon/add-symbol_318-364.jpg" onclick="criaLinha()">
        </div>
      </div>

      <h3>Informações complementares da nota fiscal</h3>
      <div class="form-field text  required  request_custom_fields_360016356991">
        <label for="request-observ">
          Observações
        </label>
        <textarea id="request-observ" aria-required="true"
          placeholder="Ex. Número manifesto resíduo, indicar responsável pelo recebimento, etc..."></textarea>
      </div>
      <input type="hidden" name="request[description]" id="request_materials" />
      <input type="hidden" name="request[subject]" id="request_subject" />
      <footer>
        <input type="submit" name="commit" value="Enviar" />
      </footer>
    </form>
    {{request_form}}
  </div>
</div>